@model IEnumerable<AuthPolicyService.Models.Root>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="padding-top:5%">Lists</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SrNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Method)
            </th>
            <th>
                @Html.Label("Policy Information")
            </th>
            <th>
                @Html.Label("Action")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SrNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Method)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PolicyInfo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SrNo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SrNo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SrNo })
                </td>
            </tr>
        }
    </tbody>
</table>
